mongoUrl='mongodb://127.0.0.1:27017/Codequest'
JWT_SECRET='codequestdevcamp2026'
expiresIn='1d'
expiresIn1='7d'
NODE_ENV='development'

# Google OAuth Configuration
GOOGLE_CLIENT_ID='your_gg_client_id'
GOOGLE_CLIENT_SECRET='your_gg_client_secret'
GOOGLE_CALLBACK_URL='http://localhost:5173/auth/google/redirect'

# GitHub OAuth Configuration
GITHUB_CALLBACK_URL='http://localhost:5173/auth/github/redirect'
GITHUB_CLIENT_ID='Ov23lifo1oyTiiKKdqTz'
GITHUB_CLIENT_SECRET='f35dd570cc160f23681db789559d3dd5cce05bc4'

# Frontend URL
FRONTEND_URL='http://localhost:5173'

# Piston API Configuration
PISTON_API_URL='https://emkc.org/api/v2/piston/execute'

# R2 Configuration
R2_TOKEN_VALUE='your_r2_token_value'
R2_ACCESS_KEY_ID='e786bca8b82ed6d0009e8f6ae330e235'
R2_SECRET_ACCESS_KEY='63d20587a78b07b5d7c86fcd17ec776a80d08ba1e0859f7af30ae83ad8aa9e93'
R2_ENDPOINT='https://abc834f07055018eeb79aa6f7e64dc7b.r2.cloudflarestorage.com'
R2_BUCKET_NAME='codequest-bucket'

# Gemini API Configuration
GEMINI_API_KEY=your_gemini_api_key_here