# Operating System Files
.DS_Store
Thumbs.db
*.local

# Node / Dependencies
node_modules/
pnpm-debug.log*

# Build Outputs
dist/
build/
.next/
out/
.tmp/

# Environment Variables
.env
.env.production
.env.development

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Docker
.docker/