@import "tailwindcss";

:root {
  --bg: #050b17;
  --card-bg: #0b1220;
  --code-bg: #0a101f;
  --footer-bg: #0f1523;
  --panel-bg: #0b1220;
  --border: #161d2a;

  --text-h: #99a1af;
  --text: #d6d8db;

  --accent: #1fc366;
  --accent-bg: #18442d;
  --accent-border: #1c492d;
  --success: #22c55e;

  --select: #2783ff;
  --select-bg: rgba(39, 131, 255, 0.15);

  --btn-inactive: #272c39;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
}

@keyframes glow {
  0%,
  100% {
    filter: drop-shadow(0 0 4px rgba(52, 211, 153, 0.3));
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 18px rgba(52, 211, 153, 0.9));
    transform: scale(1.05); /* Phóng to lên một xíu cho đẹp */
  }
}
